<div class="body">
    <img src="assets/img/reset-pw.png" class="mid-img">
    <div class="text">
        <h3>La agenda de mantenimiento cuenta con dos funcionalidades que se complementan. En primera instancia, el panel de mantenimiento se encarga de asegurar la seguridad en las actividades y mantenimientos realizados dentro de las instalaciones y equipos del edificio creando órdenes de trabajo para la reparación, mantenimiento o limpieza de sus áreas. Ademas, este panel se comunica con el panel de inspección virtual que permitira corroborar el mantenimiento realizado a través de la realidad aumentada y en el momento en que se este realizando un mantenimiento.</h3>
    </div>
</div>
<div class="buttons">
    <button mat-raised-button color="primary" style="margin-right: 20px;" (click)="openNewMaintenanceTap()">ABRIR PANEL DE MANTENIMIENTO</button>
    <button mat-raised-button color="warn" (click)="openNewInspectionTap()">ABRIR PANEL DE INSPECCIÓN VIRTUAL</button>
</div>