<link rel="stylesheet" href="styles.83575d17a4c6306ba4a4.css"><script src="runtime.f008d7187ef6af00ccea.js" defer></script><script src="polyfills.00096ed7d93ed26ee6df.js" defer></script><script src="scripts.6665fa8566055f7e4a56.js" defer></script><script src="main.4514f4ff0ed9c94cc9aa.js" defer></script><mat-toolbar>
  <h1>SISTEMA DE GESTIÓN DE INSTALACIONES</h1>
</mat-toolbar>  
<div class="body">
  <img src="../../assets/img/login.png" class="mid-img">
  <div class="login">
    <mat-spinner *ngif="loading" class="spinner" diameter="50"></mat-spinner>
    <form *ngif="!loading" [formgroup]="formGroup">
      <h1 class="h3 mb-3 fw-normal text-shadow">Inicio de sesión</h1>
      <mat-form-field class="width" appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input matinput="" placeholder="Correo electrónico" formcontrolname="u_email" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="width" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matinput="" type="password" placeholder="Contraseña" formcontrolname="u_password">
        </mat-form-field>
        <br>
        <button (click)="loginProces()" class="width button" mat-raised-button="" type="submit" [disabled]="formGroup.invalid">I N G R E S A R</button>
        <button class="width text-shadow" style="top: 10px;" mat-button="" type="button">Olvidé mi contraseña</button>
    </form>
  </div>
</div>
<footer class="footer">
    <span><img src="../../../assets/img/grupo-hlq-logo.png" width="250px"></span>
    <p>© Copyright <a href="https://www.newtoms.com/"> NEWTOMS LLC</a> 2021. All Rights Reserved.</p>
</footer>