<div class="body">
    <img src="assets/img/face-rekog.png" class="mid-img">
    <div class="text">
        <h3>El control de acceso de visitantes forma parte del área de riesgos de la Gestión de Instalaciones. Con esta funcionalidad, se facilita la tarea del vigilante privado para poder identificar a los visitantes del edificio.</h3>
    </div>
</div>
<div class="button">
    <button mat-raised-button color="primary" (click)="openNewControlAccessTap()">INICIAR PROCESO DE RECONOCIMIENTO</button>
</div>