<div class="body">
    <img src="assets/img/bi-pics.png" class="mid-img">
    <div class="text">
        <h3>El módulo de inteligencia de negocios representa parte del área operativa en la Gestión de Instalaciones. Con esta funcionalidad, se espera generar reportes, gráficas y cuadros de mando que permitirán el análisis operativo de los usuarios del sistema, los activos y las tareas..</h3>
    </div>
</div>
<div class="button">
    <button mat-raised-button color="primary" (click)="openNewBITap()">ABRIR PANEL DE INTELIGENCIA DE NEGOCIOS</button>
</div>