<mat-toolbar>
  <h1>SISTEMA DE GESTIÓN DE INSTALACIONES</h1>
</mat-toolbar>  
<div class="body">
  <img src="../../assets/img/login.png" class="mid-img">
  <div class="login">
    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
    <form *ngIf="!loading" [formGroup]="formGroup">
      <h1 class="h3 mb-3 fw-normal text-shadow">Inicio de sesión</h1>
      <mat-form-field class="width" appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="Correo electrónico" formControlName="u_email" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="width" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" placeholder="Contraseña" formControlName="u_password">
        </mat-form-field>
        <br>
        <button (click)="loginProces()" class="width button" mat-raised-button type="submit" 
          [disabled]="formGroup.invalid">I N G R E S A R</button>
        <button class="width text-shadow" style="top: 10px;" mat-button type="button">Olvidé mi contraseña</button>
    </form>
  </div>
</div>
<footer class="footer">
    <span><img src="../../../assets/img/grupo-hlq-logo.png" width="250px"></span>
    <p>© Copyright <a href="https://www.newtoms.com/"> NEWTOMS LLC</a> 2021. All Rights Reserved.</p>
</footer>