<div class="body">
    <img src="assets/img/clients.png" class="mid-img">
    <div class="text">
        <h3>La administración de clientes representará también el área de negocios en la Gestión de Instalaciones. Con esta funcionalidad, se propone la implementación de un CRM que permitirá administrar y analizar las interacciones con clientes actuales y potenciales que hacen uso de los inmuebles</h3>
    </div>
</div>
<div class="button">
    <button mat-raised-button color="primary" (click)="openNewClientTap()">ABRIR PANEL DE ADMINISTRACIÓN DE CLIENTES</button>
</div>