<div class="body">
    <img src="assets/img/clients.png" class="mid-img">
    <div class="text">
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    </div>
</div>
<div class="button">
    <button mat-raised-button color="primary" (click)="openNewClientTap()">ABRIR PANEL DE ADMINISTRACIÓN DE CLIENTES</button>
</div>